.container {
  position: relative;
  top: 5%;
  bottom: 10%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 108, 108);
}
.Title h1 {
  color: black;
  font-weight: 900;
  font-size: 4rem;
  padding: 5px;
  text-align: center;
  font-family: fantasy;
  text-decoration: underline;
  transition: 0.5s;
  text-shadow: 2px 2px 2px black;
}
.img {
  width: 100%;
  text-align: center;
}
img {
  border-radius: 40px;
  transition: 0.5s;
  border: 2px solid black;
}
.NTC {
  transition: 0.5s;
  text-align: center;
}
h2 {
  font-weight: 900;
}
h3 {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}
h4 {
  font-weight: 200;
  font-family: "Courier New", Courier, monospace;
}
p {
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  text-align: center;
}
.Events {
  position: relative;
  top: 10%;
  bottom: 10%;
  padding: 20px 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  filter: invert(1);
  background-color: WHITE;
}
ul li {
  line-height: 2rem;
  text-align: justify;
  margin-bottom: 10px;
}
.COPYRIGHT {
  background-color: rgb(109, 107, 107);
  text-align: center;
  padding: 10px;
  margin: 0px;
}
p {
  color: white;
  text-align: center;
  font-weight: 900;
}
a {
  text-decoration: none;
  color: rgb(0, 255, 64);
}
a:hover {
  color: black;
  text-decoration: underline;
}
@media (max-width: 470px) {
  .Title h1 {
    color: white;
    font-size: 2rem;
  }
  h3 {
    font-size: 15px;
  }
  .img {
    width: 50%;
    text-align: center;
  }
  img {
    width: 80%;
    border-radius: 40px;
    border: 2px solid black;
  }
  .Events {
    padding: 20px 0px;
  }
  .NTC {
    text-align: center;
  }
  h2,
  h4,
  p {
    font-size: 13px;
  }
  ul li {
    line-height: 1.5rem;
    text-align: left;
  }
}
